.cardContiner img{
      width: 100%;
      border-radius: 10px;
}
@media (max-width: 700px) {
      .cardContiner{
            flex: 50%;
            max-width: 70%;
            margin: 1%;
      }
}
.cardContiner{
      flex: 25%;
      background-color: #ece3e3;
      border-radius: 10px;
      margin: 30px;
      width: 100%;
      overflow: hidden;
      box-shadow: 5px 5px 10px rgb(189, 189, 189);
}
.cardContiner link p{
      text-decoration: none;
}
.cardContiner h1{
      font-size: 15px;
      color: rgb(6, 19, 17);
      text-align: center;
      margin: 10px;
      text-decoration: none;
}
.price{
      color: #2A455E;
      border-radius: 5px;
      width: 100px;
      padding: 2px;
      font-weight: 700;
      font-size: larger;
      text-align: center;
      justify-content: center;
      height: 31px;
      margin-left: 35%;
}
.cardContiner h3{
      font-size: 12px;
      color: rgb(6, 19, 17);
      margin: 10px 20px 15px;  
}
.object{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.action{
      margin: 10px 10px 0 0 ;
      border: none;
      align-items: center;
}
.action span{
      font-size: larger;
      font-weight: 700;
      color: brown;
      text-align: center;
}
.count{
      width: 50px;
      height: 27px;
      border: 1px solid rgb(70, 67, 67);
      text-align: center;
}
.detail{
      background-color: none;
      color: royalblue;
      margin: 10px 25px 25px;
      text-decoration-line: underline;
      font-size: larger;
}
.btn{
      text-align: center;
}
.btn Button{
      text-align: center;
      padding: 5px 10px 5px 10px;
      margin:12px;
}
.cardContiner :Link{
      text-decoration: none;
}
.product{
      text-decoration:"none"
}
.buttun{
      margin-right: "2px" ; 
      margin-left: "2px" ;
      
}