.main{
      display: flex;
      justify-content: space-around;
      height: fit-content;
      align-items: flex-start;
      width: 100vw;
      
}
.checkOutBox{
      margin: 30px;
      /* padding: 10px; */
      background-color: #e0dbdb;
      position: relative;
      top: 30;
      right: 0;
      width: 25%;
}
.ContinueButton{
       margin: 0;
       font-weight:300;
       color: white;
       text-align:center;
       transition: all 0.2s;
      background-color:  #3f51b5;
       padding: 10px;
       text-decoration: none;
}
.checkOutBox :link{
      text-decoration: none;
}

.checkOutBox p{
      margin: 10px;
      border-radius: 5px;
      width:fit-content ;
      padding: 2px;
      font-weight: 600;
      text-align: center;
      display: flex;
      align-items: center;
}
.checkOutBox span{
    font-weight: 400;
    margin: 5px 0 5px 15px;
}
.continer{
      margin: 20px;
}
.boxHeader{
      display: flex ;
      justify-content:space-around;
      text-align: center;
      margin-top:30px;
      margin-left: 5% ;
      background-color: #e0dbdb;
      width:730px;

}
@media (max-width: 980px){
      .main{
            display: grid;
      }
      .checkOutBox{
            width: 250px;
            top:20px;
            margin: auto;
            align-items: center;
      }
      .boxHeader{
            margin: auto;
            align-items: center;
            margin-top:20px;
      }
      .cart{
            margin: auto;
            align-items: center;
      }
}
@media (max-width:650px) {
      .boxHeader{
            width:550px
      }
      .boxHeader span{
            display: none;
      }
      
}
@media (max-width:550px) {
      .boxHeader{
            width:450px
      }
      
}
@media (max-width:450px) {
      .boxHeader{
            width:350px

      }
      
}