
.container{
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
}
.image {
      width: 75%;
      background-color: rgb(212, 208, 208);
      margin-left: -5%;
     
     
}
.textContainer{
      display: flex;
      align-items: center;
      background-color: rgb(212, 208, 208);
      overflow: hidden;
      border: 1px solid #cecece;
      border-radius: 10px;
      padding: 5px;
      margin: 20px;
      background-color: white;
}
.logoImageProduct{
      display: flex;
}
@media (max-width: 800px){
      .buttonContainer{
            width: 50%;
      }
      .addToCart{
            width: 100px;
            margin: 0;
            justify-content: center;
            font-size: small;
      }
      .textContainer{
            display: block;
      }
      .image{
            margin: 10px;
            width: 40%;
      }
      .logoAll{
            margin-top: 10px;
            flex-wrap: wrap;
      }
    
      
}

.descriptionAll{
      margin-left: 30px;
      
}
.logoAll{
      display: block;
      flex-wrap: inherit;
      width: 30%;
}
.logoAll img{
      width: 18%;
      margin: 3px;
}
.name{
      font-size: 1rem;
      font-weight: 600;
      padding: 15px;  
}
.description{
      font-size: 1rem;
}
.category{
      padding: 10px;
      font-weight: 500;
      color: cornflowerblue;
}
.brand{
      padding: 10px ;
      font-weight: 500;
      color: #3f51b5; ;
}

.countInStock{
      padding: 5px;
      margin : 15px;
      font-weight: 500;
      color:white;
      background-color:  #3f51b5;
      width: fit-content;
      border-radius: 10px;
}
.price{
      font-weight: 700;
      font-size: larger;
      border-radius: 20%;
      text-align: center;
      margin-left: 35%;
}
.buttonContainer{
      padding: 2%;
      align-items: center;
      border: 2px solid #cecece;
      border-radius: 10px;
      margin: auto;
      width: 45%;
      align-content: center;

}

.buttonContainer Button{
      margin: 2%;
      
}
.addToCart{
      background-color : #3f51b5 ;
      margin: auto ;
      justify-content: center;
}
.notCount{
     width: fit-content;
     padding: 5px;
     margin: auto;
     align-items: center;

} 
@media (min-width: 1000px) {
      .addToCart{
            width: 200px;
      }
      
}
