.continer{
      display: flex;
      align-items: center;
      width: 100%;
      
      
      
}
.productDetail{
      display: flex;
      justify-content: flex-start ;
      width: 80%;
      height: 100%;
      border: 2px solid #fafafa;
      padding: 20px;
      height: 200px;
      background-color: #e0dbdb;
      align-items: center;
      margin: 20px 0 0 5%;

}
.productDetail img{
      width: 50%;

}
.productDetail p{
      font-weight: 300;
      margin: 1%;
}
.productDetail span{
      color: rgb(48, 46, 46);
      width: 10%;
      font-weight: 300;
      text-align: center;
      margin: 15px;
}
.productDetail h4{
      font-weight: 200;
      background-color: #e0dbdb;
      color: black ;
      box-sizing: border-box;
}
.productDetail button{
      margin: 3%;
      box-sizing: border-box;
      text-decoration:none;
      font-family:'Roboto',sans-serif;
      font-weight:200;
      text-align:center;
      transition: all 0.2s;
      background-color: #e0dbdb;
      border: none;
}
.productDetail button:hover{
      color:#FFFFFF;
}
.checkOutBox{
      width: 30%;
      height: 100px;
      border: 2px solid black;
}
.actionDetails{
      display: flex;
      justify-content: space-around;
      align-items: center;
}
.button{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3%;
      margin-left: 5%;
}
.button button{
      margin: 8px;
}
.titr{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e0dbdb;
}
.titr p{
      margin-left: -80px;
}
.titrDetails{
      display: flex;
      justify-content: space-between;
      align-items: center; 
}
.titrDetails p {
      margin: 15px;
}
@media (max-width:550px) {
      .actionDetails{
            display: grid;
      }
      .titrDetails{
            display: grid;
      }
      .actionDetails{
            display: grid;
      }
      .actionDetails span{
            margin: auto;
            align-items: center;
      }
      .productDetail{
            display: grid;
            height: fit-content;
      }
      .button{
            margin:5px
      }
}