.navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color:  #3f51b5;
      color: #fff;
}
.menu{
      display: flex;
      justify-content: center;
      align-items: center;
}
.home{
      margin :20px;
      cursor: pointer;
      text-decoration: none;
      color: #fff;
 
}
.about{
      cursor: pointer;
      color: #fff;
      margin: 20px;
}
.shop{
      cursor: pointer;
      color: #fff;
      margin: 20px;
}
.login{
      cursor: pointer;
      color: #fff;
      margin: 20px;
}
.cartIcon{
      cursor: pointer;
      margin: 20px;
}
.counter{
      position: absolute;
      left: 15px;
      top: -40%;
      text-align: center ;
      color: rgb(244, 239, 248) ;
      width: 10px ;
      height: 10px ;
      font-weight: 500;
      border-radius: 10px;
}
.profileImg{
      cursor: pointer;
      margin: 20px;
}
.logoType{
      margin-left: 20px;
}

.profileBox{
      width: fit-content;
      height: fit-content;
      border: 1px solid black;
      padding: 10px;
      right: 0;
      top:12%;
      position: absolute;
      z-index: 1;
      margin: 5px 10px;
      background-color: #fff;
      border-radius: 5px;
}
.profileBox p {
      color: #3f51b5;
      width: fit-content;
      border-radius: 2px;
      padding: 3px;
}
.profileBox span{
      color:#3f51b5 ;
}
.profileBox Button{
      background-color : #3f51b5;
}

