.counter{
      position: absolute;
      top : 0 ;
      right: -30 ;
      text-align: center ;
      color: rgb(244, 239, 248) ;
      width: 18px ;
      height: 18px ;
      background-color: royalblue;
      border-radius: 10px;


}
.main{
      position: fixed;
      top: 0;
      width: 100%;
}